<div
  class="container nav navbar bg-warning d-flex justify-content-center text-center rounded-3 my-3 text-dark fw-bold">
<h1 class="Display-1">GITHUB SEARCH</h1>
</div>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid my-3 d-flex flex-column justify-content-center text-center">
    <form class="d-flex">
      <input class="form-control me-2 display lh-base" type="search" placeholder="search for a profile..." aria-label="Search">
      <button class="btn btn-outline-info" type="submit">Search</button>
    </form>
  </div>
</nav>

